.modal_container {
    display: none;
    position: fixed;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(34, 31, 31, 0.5);
    z-index: 10;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.modal_closer {
    color: #aaaaaa;
    position: relative;
    left: 90%;
    top: -10px;
    font-size: 28px;
}

.modal_closer:hover,
.modal_closer:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    border-radius: 20%;
}

.login_modal {
    background-color: white;
    width: max(320px, 70vw);
    padding: 20px 20px;
}

.spancox {
    display: flex;
    margin-bottom: 10px;
    font-size: 20px;
    width: 100%;
    justify-content: center;
}

.loginxsubmit {
    width: 10px;
    font-size: 20px;
    max-width: 90px;
}

.toptext {
    padding-bottom: 20px;
    color: blueviolet;
}

.spancox>label {
    min-width: 90px;
}

.spancox>input {
    width: max(20vw, 200px);
}

/* button design */
.loginxsubmit {
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.loginxsubmit:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.loginxsubmit:hover {
    background-color: #2c974b;
}

.loginxsubmit:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

.loginxsubmit:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}

.loginxsubmit:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}