.nav-main-container {
  display: flex;
  height: 28px;
  padding-bottom: 35px;
  padding-right: 5px;
  padding-top: 5px;
  background-color: antiquewhite;
}

.nav-home-text {
  font-size: 30px;
  font-family: var(--font-family);
  position: relative;
  top: -5px;
  left: 10px;
}

.loginbutton {
  cursor: pointer;
}

.searchbox-container {
  position: relative;
  margin: 0 10px 0 auto;
}

.searchbox-container #srcbx {
  border-radius: 8px;
  outline: none;
  border: none;
  outline: 2px solid var(--secondary-font-color);
  font-size: 20px;
  height: 25px;
  width: max(150px, 35vw);
  background-color: var(--background);
  filter: brightness(80%);
  color: var(--font-color);
  padding-left: 10px;
  animation: scale-up-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.registration-btn-container {
  display: flex;
  column-gap: 10px;
}

.rgtbut {
  position: relative;
  color: purple;
}

.rgtbut * {
  display: inline;
}

.rgtbut :nth-child(1) {
  margin-right: 5px;
  position: relative;
  top: 3px;
}

.menu-bar-for-mobile {
  display: none;
}