.headermaincontainer {
  margin-top: 80px;
  height: 0;
  border-top: 1px solid var(--font-color);
  z-index: 1;
}

.Projnamehead {
  align-items: center;
  display: flex;
  position: sticky;
  justify-content: center;
  column-gap: 10px;
  font-size: 30px;
}

.SecItmside {
  margin: 0 10vw;
  position: relative;
  top: 10px;
  font-size: 22px;
  color: var(--secondary-font-color);
  display: flex;
  flex-direction: column;
}

.SecItmside>p {
  cursor: pointer;
  user-select: none;
}

.PriItmMid {
  display: initial;
  white-space: nowrap;
}

/* for dropdown */
.ddropdown {
  border: 1px solid black;
  width: max(250px, 25vw);
  position: absolute;
  top: 25px;
  display: none;
  background-color: var(--background);
  left: -10vw;
  align-items: center;
  justify-content: center;
}

/* dropdown items */

.SecItmside:hover .ddropdown {
  display: flex;
}