* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

body {
  background: var(--background);
  color: var(--font-color);
}

a {
  text-decoration: none;
  color: var(--font-color);
}
.activated {
  display: initial;
}
.deactivated {
  display: none;
}
.mainbackground {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
