.main_ca_container {
}

.main_ca_form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px;
  row-gap: 10px;
}
.form_input_container {
  display: flex;
  column-gap: 10px;
  flex-wrap: wrap;
}
#sendsubmit {
  width: 100px;
}
#cake_name {
  width: max(40vw, 200px);
}
#cake_price {
  width: 100px;
}
#cake_type {
  width: 200px;
}
#cake_occation_for {
  width: 200px;
}
#cake_image {
  width: 200px;
}
